* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

#formulario{
background-color: red;
border-radius: 10px;
height: 80vh;
width: 60vh;
}

#caixasdetexto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 75vh;
  gap: 40px;
  margin-top: 20px;
  background-color: white;
  color: rgb(0, 0, 0);
}

.caixa{
  display: flex;
  width: 40vh;
  height: 5vh;
  border-radius: 6px;
  border-color: red;
}