* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: blue;
}

h1{


}

#formulario{
background-color: red;
border-radius: 10px;
height: 80vh;
width: 60vh;;
}


.caixa{
  display: flex;
  width: 40vh;
  height: 4vh;
  border: none;
  border-radius: 6px;
  border-color: red;
  margin-bottom: 50px;
}

#botao-cadastro{
  display: flex;
  
  width: 20vh;
  height: 4vh;
  border-radius: 6px;
  border-color: red;
  background-color: green;
}