* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background:linear-gradient(to left, #2250ce ,#0fc5c5);
}

h1{
position: absolute;
color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
font-size: 6vh;
top: 10vh;
text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

#formulario{
background-color: rgb(241, 240, 240);
border-radius: 0.7vh;
height: 50vh;
width: 50vh;
border: none;
}

p{
font-family: Arial, Helvetica, sans-serif;
margin-left: 3vh;
margin-top: 3vh;
font-size: 2vh;
}

.caixa{
display: flex;
width: 40vh;
height: 4vh;;
box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.5);
border-radius: 1vh;
border-style: solid;
margin-bottom: 5vh;
margin-left: 3vh;
}

.caixa:focus{
outline: none;
border-color: rgb(0, 55, 255);
}

#mostrar-senha{
display: flex;
width: 4vh;
height: 4vh;
font-size: 2vh;
border-radius: 10vh;
border: none;
background-color: transparent;
position: relative;
left: 39vh;
bottom: 9.2vh;
}

#botao-cadastro{
display: flex;
width: 20vh;
height: 4vh;
border-radius: 1vh;
border: none;
background-color: rgb(31, 71, 250);
position: relative;
left: 15vh;
bottom: 7vh;
font-family: Arial, Helvetica, sans-serif;
font-size: 2vh;
}

#botao-cadastro:hover{
background-color: rgb(38, 34, 255);
cursor: pointer;
}